---
layout: default
title: Homepage
---

<header>
  <h1>
    <a href="{{ site.baseurl }}/" title="{{ site.name }}">{{ site.name }}</a>
  </h1>
  <p class="subtitle">
    {{site.description }}
  </p>
</header>

<main>
  <p>
  <em>RPS All the Things</em> is a collection of experiments with programming languages
  and software architecture all applied to the simple domain of
  <em>rock-paper-scissors</em>.
  </p>

  <ul>
    <li><a href="{{ site.baseurl }}/introduction/">Introduction</a></li>
    <li><a href="{{ site.baseurl }}/projects/">Projects</a></li>
  </ul>

  <nav>
    <ul class="posts">
      {% for post in paginator.posts %}
      <li>
        <time datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date_to_string }}
        </time>
        <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>

  {% if paginator.total_pages > 1 %}
  <nav class="post-nav">
    {% if paginator.next_page %}
    <a href="{{ site.baseurl }}/page/{{paginator.next_page}}" class="prev">Older</a>
    {% else %}
    <span class="prev">Older</span>
    {% endif %}
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
      <a href="{{ site.baseurl }}/" class="next">Newer</a>
      {% else %}
      <a href="{{ site.baseurl }}/page/{{paginator.previous_page}}" class="next">Newer</a>
      {% endif %}
    {% else %}
    <span class="next">Newer</span>
    {% endif %}
  </div>
  {% endif %}
</main>
