header {
  text-align: center;
  margin-bottom: 2em;

  h1 {
    font-family: $variant-family;
    margin-bottom: .25em;
    color: $header-color;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: $header-color;

    &:hover,
    &:active {
      text-decoration: underline;
      color: $header-color;
    }
  }

  .subtitle {
    font-family: $variant-family;
    font-size: 85%;
    padding: 0 $spacing-s;
    margin: 0;
    letter-spacing: 1px;
    color: #888;
  }
}
