header {
  text-align: center;
  margin: 1em 0 2em 0;

  h1 {
    margin-bottom: .25em;
    color: $header-color;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: $header-color;

    &:hover,
    &:active {
      text-decoration: underline;
      color: $header-color;
    }
  }

  .subtitle {
    font-size: 85%;
    padding: 0 $spacing-s;
    margin: 0;
    letter-spacing: 1px;
    color: #888;
  }

  .authors {
    font-size: 85%;
    a {
      color: $link-color;
    }
  }
}
