header {
  text-align: center;
  margin: 1em 0 2em 0;

  h1 {
    margin-bottom: .25em;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: $text-color;
  }

  .subtitle {
    font-size: 80%;
    text-transform: uppercase;
    padding: 0 $spacing-s;
    margin: 0 auto;
    letter-spacing: 1px;
    color: #888;
    max-width: 600px;
  }

  .authors {
    font-size: 85%;
    a {
      color: $link-color;
    }
  }
}
