ul.posts {
  list-style-type: none;
  margin: 0;
  padding: 2em 1em;

  li {
    text-align: center;
    margin-bottom: 1em;
    time {
      display: block;
      margin-bottom: .5em;
      font-size: 80%;
      color: #888;
    }
  }
}

.pagination {
  color: #888;

  a, span {
    float: left;
    width: 50%;
  }
} // end .pagination
