ul,
ol {
  margin: $spacing-m 0;
  li {
    margin-bottom: $spacing-xs;
  }
}

blockquote {
  font-size: 150%;
  font-family: $font-family;
  font-weight: lighter;
  color: lighten($text-color, 40%);
  border-left: 4px solid $main-color;
  padding-left: $spacing-s;
  margin-top: $spacing-m;
  margin-bottom: $spacing-m;
  margin-left: -$spacing-l;
  margin-right: 0;
  line-height: 165%;

  @media (max-width: 942px) {
    margin-left: 0;
  }
  p {
    padding-left: 0!important;
    padding-right: 0!important;
  }
} // end blockquote

img {
  width: 100%;
  height: 100%;
}

main nav.post-nav {
  position: relative;
  height: 1em;
  line-height: 1;
  font-family: $variant-family;
  margin: 2em 0 1em 0;

  .actions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;

    a {
      margin: 0 .25em;

      &:hover {
        text-decoration: none;
        color: $text-color;
      }
    }
  }
}

// Pagination

#prev,
#next {
  position: absolute;
  z-index: 1;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}
