---
layout: default
---
<header>
  <a class="home" href="{{ site.baseurl }}/">{{ site.name }}</a>
  <h1>{{ page.title }}</h1>
</header>

<main>
  <div class="content-primary">
    {{ content }}
  </div>

  <nav class="post-nav">
    <div class="actions">
      {% capture share_text %}{{ site.name }} - {{page.title}} {{ site.url }}{{ site.baseurl }}{{ page.url }} #rpsallthethings{% endcapture %}
      <a class="share"
        title="Share on Twitter"
        href="https://twitter.com/intent/tweet?text={{ share_text | uri_escape }}">
        <span class="icon-twitter"></span>
      </a>
      <a class="edit"
        title="Edit on GitHub"
        href="https://github.com/jayway/rpsallthethings/edit/gh-pages/{{ page.path }}">
        <span class="icon-github"></span>
      </a>
    </div>
  </nav>

</main>
