---
layout: default
---
<header>
  <h1>{{ page.title }}</h1>
  <p class="subtitle">
    <time datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date_to_long_string }}
    </time>
  </p>
  <p class="authors">
  {% assign authorCount = page.authors | size %}
  {% if authorCount > 0 %}
  By
  {% endif %}
  {% for author in page.authors %}
      {% if forloop.last %}
      and
      {% elsif forloop.first %}
      {% else %}
      ,
      {% endif %}

      {% if author.twitter %}
      <a href="https://twitter.com/{{ author.twitter }}" rel="author">{{ author.name }}</a>
      {% else %}
      {{ author.name }}
      {% endif %}
  {% endfor %}
  </p>
</header>

<main>
  <div class="content-primary">
    {{ content }}
  </div>

  <nav class="post-nav">
    {% if page.next %}
      <a rel="next" href="{{ site.baseurl }}{{ page.next.url }}" class="next">
        <span class="nav-title nav-title-next">Newer</span>
      </a>
    {% endif %}

    <div class="actions">
      <a class="share"
        title="Share on Twitter"
        href="http://twitter.com/share" class="popup">
        <span class="icon-twitter"></span>
      </a>
      <a class="edit"
        title="Edit on GitHub"
        href="https://github.com/jayway/rpsallthethings/edit/gh-pages/{{ page.path }}">
        <span class="icon-github"></span>
      </a>
    </div>

    {% if page.previous %}
      <a rel="prev" href="{{ site.baseurl }}{{ page.previous.url }}" class="prev">
        <span class="nav-title nav-title-prev">Older</span>
      </a>
    {% endif %}

  </nav>

</main>
